<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/products" method="post">
        <input type="text" name="name" id="" placeholder="product name">
        <input type="number" name="price" id="" placeholder="product price">
        <input type="text" name="sellerName" id="" placeholder="seller name">
        <input type="text" name="sellerAddress" id="" placeholder="seller address">
        <input type="number" name="sellerPhone" id="" placeholder="seller phone">
        <input type="checkbox" name="inStock" id="" value="true">
        <input type="submit" value="add a new product">
    </form>
</body>

</html>