<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <style>
        h1{
            color: red
        }
    </style> -->
</head>
<!-- 
    <% %> -> executes whatever that is written inside it: logic, if else, for loops, ternary operator
    <%= %> -> prints whatever that is written inside it : print, strings, objects, arrays, boolean -> can also execute functions
    <%- %> -> combination of above 2
 -->

<body>
    <% if(variable.length > 5){ %>
    <h1>hello <%= variable %></h1>
    <% } %>


    <!-- html, css, js, fonts, images, text files -->
    <!-- <script>
        alert('connected')
    </script> -->
    <script src="/script.js"></script>
</body>

</html>