<%- include('../partials/header') %>
<form action="/login" method="post">
    <input type="email" name="username" id="" placeholder="email">
    <input type="password" name="password" id="" placeholder="password">
    <input type="submit" value="login">
</form>
<%- include('../partials/footer') %>