<%- include('../partials/header.ejs') %>
<form action="/notifications" method="post">
    <input type="text" name="title" id="" placeholder="title">
    <input type="text" name="body" id="" placeholder="body">
    <input type="text" name="author" id="" placeholder="author">
    <input type="submit" value="add a new notif">
</form>
<%- include('../partials/footer.ejs') %>